<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Über Uns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Das Team</h1>
        <hr>
        <h2>Paul Grüßing</h2>
        <p>Student der Wirtschaftsinformatik an der HWR im siebten Semester. Zudem Student an der Programierschule 42Berlin. Verfügt deshalb vorallem über wissen in C und C++</p>
        <p> Verantwortlich für die Implementierung und Logik des Spielmechanismus</p>
        <h3> Merdan Alkas</h3>
        <p>Student an der HWR Berlin im dritten Semester im Bereich Wirtschaftsinformatik. Mit Fokus auf Java</p>
        <p> Datenbankbeauftragter, hat die Airbnbs ausgesucht und in die SQLAlchemy eingepflegt. Außerdem verantwortlich fürs Design</p>
    <h3>Gehe zurück zum Startbildschirm</h3>
    <button class="btn btn-md btn-dark"><a href="{{ url_for('index') }}" class="whitelink">Zurück</a></button>
  </div>
</body>
</html>
