<!-- [Q13] -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>RateBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="cntr">
        <h1>RateBnB</h1>
        <p>Aktueller Score: <strong>{{ score }}</strong></p>
        <button class="btn-sm-danger"><a href="{{ url_for('index') }}">Start</a></button>
        <button class="btn-sm-danger"><a href="{{ url_for('logout') }}">Logout</a></button>
    </div>


    <form method="POST">
        <input type="hidden" name="score" value="{{ score }}">
        <input type="hidden" name="expected" value="{{ expected }}">
        
        <input type="hidden" name="id1" value="{{ listing1.id}}">
        <input type="hidden" name="id2" value="{{ listing2.id}}">


        <div class="container">
            <div class="row">
                <div class="col-md-6 cntr">
                    <h3>Airbnb1: {{ listing1.title }}</h3>
                    <img src="{{ listing1.image_url }}" class="outlineimg bnb-bild rounded mx-auto d-block">
                     <div class="row">
                        <div class="col-md-6"> <p>Anzahl Betten: {{ listing1.beds }}</p></div>
                        <div class="col-md-6"> <p>Anzahl Zimmer: {{ listing1.rooms }}</p></div>
                     </div>
                     <button class="btn btn-lg" type="submit" name="answer" value="oneExpensive">Airbnb1 ist teurer</button>
                     <!-- <button class="btn btn-lg btn-danger"><a href="{{ listing1.link }}" class="whitelink">Gehe zum airbnb</a></button> -->
                </div>
                <div class="col-md-6 cntr">
                    <h3>Airbnb2: {{ listing2.title }}</h3>
                    <img src="{{ listing2.image_url }}" class="outlineimg bnb-bild rounded mx-auto d-block">
                                         <div class="row">
                        <div class="col-md-6"> <p>Anzahl Betten: {{ listing2.beds }}</p></div>
                        <div class="col-md-6"> <p>Anzahl Zimmer: {{ listing2.rooms }}</p></div>
                     </div>
                    <button class="btn btn-lg" type="submit" name="answer" value="twoExpensive">Airbnb2 ist teurer</button>
                    <!-- <button class="btn btn-lg btn-danger"><a href="{{ listing2.link }}" class="whitelink">Gehe zum airbnb</a></button> -->
                </div>
            </div>
        </div>

    </form>
    

<!-- Fav buttons -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" action="{{ url_for('add_favorite', bnb_id=listing1.id) }}">
                <input type="hidden" name="score" value="{{ score }}">
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit">Airbnb1 zu Favoriten</button>
                </div>
            </form>
    </div>
        <div class="col-lg-6">
            <form method="POST" action="{{ url_for('add_favorite', bnb_id=listing2.id) }}">
                <input type="hidden" name="score" value="{{ score }}">
                <div class="text-center">
                <button class="btn btn-lg btn-primary" type="submit">Airbnb2 zu Favoriten</button>
                </div>
            </form>
        </div>
    </div>
</div>





    
    <!-- <form method="POST" action="{{ url_for('add_favorite', bnb_id=listing1.id) }}">
        <input type="hidden" name="score" value="{{ score }}">
        <div class="text-center">
            <button class="btn btn-sm btn-primary" type="submit">Airbnb1 zu Favoriten</button>
        </div>
        </form>


     
    <form method="POST" action="{{ url_for('add_favorite', bnb_id=listing2.id) }}">
        <input type="hidden" name="score" value="{{ score }}">
        <div class="text-center">
            <button class="btn btn-sm btn-primary" type="submit">Airbnb2 zu Favoriten</button>
        </div>
    </form>
        -->

</body>
</html>
