
<!-- [Q1] -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Spiel vorbei</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Spielregeln</h1>
    <p>Errate die günstige Unterkunft auf Airbnb. Wie hoch kannst du den Highscore treiben?</p>
    <p>Klicke <strong>Listing 2 ist teurer</strong> oder <strong>Listing 2 ist günstiger</strong>!</p>

    <hr>

    <h2>Spiel vorbei!</h2>
    <p>Dein Endstand: <strong>{{ final_score }}</strong></p>
    <!-- [Q2] -->
    <button class="btn btn-lg btn-success"><a href="{{ url_for('index') }}" class="whitelink">Nochmal spielen</a></button>
</body>
</html>
