
<!-- [Q1] -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Spiel starten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Hallo {{ user.username }}</h1>
    <h2>Spielregeln</h2>
    <p>Errate die günstige Unterkunft auf Airbnb.</p>
    <p>Klicke <strong>Listing 2 ist teurer</strong> oder <strong>Listing 2 ist günstiger</strong>!</p>

    <hr>
    <h2>Starte Jetzt dein Spiel und finde dein nächstes AirBnB</h2>
    <button class="btn btn-lg btn-success"><a href="{{ url_for('start') }}" class="whitelink">Starten</a></button>
    <br>
    <button class="btn btn-lg btn-success"><a href="{{ url_for('aboutus') }}" class="whitelink">Über Uns</a></button>
    <button class="btn btn-lg btn-success"><a href="{{ url_for('favoritelist') }}" class="whitelink">Meine Favoriten</a></button>
</body>
</html>
