<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>RateBnB</title>
</head>
<body>
  <h1>Score: {{ score }}</h1>
  <h2>Spielregeln</h2>
  <p>
    Errate richtig oder falsch. Allein der Zufall entscheidet, ob du richtig lagst.
  </p>
  <p>Klicke <strong>Richtig</strong> oder <strong>Falsch</strong>!</p>
  <form method="post">
    <input type="hidden" name="expected" value="{{ expected }}">
    <input type="hidden" name="score" value="{{ score }}">
    <button name="answer" value="richtig" type="submit">Richtig</button>
    <button name="answer" value="falsch" type="submit">Falsch</button>
  </form>
</body>
</html>
