<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>RateBnB</title>
</head>
<body>
    <h1>RateBnB</h1>
    <p>Aktueller Score: <strong>{{ score }}</strong></p>

    <form method="POST">
        <div>
            <h3>Airbnb1: {{ listing1.title }} ({{ listing1.city }})</h3>
            <p>Preis: ?</p>
        </div>

        <div>
            <h3>Airbnb2: {{ listing2.title }} ({{ listing2.city }})</h3>
            <p>Preis: ?</p>
        </div>
        <input type="hidden" name="score" value="{{ score }}">
        <input type="hidden" name="expected" value="{{ expected }}">

        <p>
            <button type="submit" name="answer" value="oneExpensive">Airbnb1 ist teurer</button>
            <button type="submit" name="answer" value="twoExpensive">Airbnb2 ist teurer</button>
        </p>
    </form>
</body>
</html>
